<header>
  <h1>Currency Converter</h1>
  <div>
    <div class="price">
      <img
        alt="United States"
        src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg"
      />
      <p>1 USD: {{ usdToUah | number : "1.2-2" }} UAH</p>
      <img
        alt="Ukraine"
        src="http://purecatamphetamine.github.io/country-flag-icons/3x2/UA.svg"
      />
    </div>
    <div class="price">
      <img
        alt="Europe"
        src="http://purecatamphetamine.github.io/country-flag-icons/3x2/EU.svg"
      />
      <p>1 EUR: {{ eurToUah | number : "1.2-2" }} UAH</p>
      <img
        alt="Ukraine"
        src="http://purecatamphetamine.github.io/country-flag-icons/3x2/UA.svg"
      />
    </div>
  </div>
</header>
