<div class="currency">
  <div class="currency__price">
    <input
      type="number"
      [(ngModel)]="amount1"
      (ngModelChange)="handleAmount1Change($event)"
    />
    <select
      [(ngModel)]="currency1"
      (ngModelChange)="handleCurrency1Change($event)"
    >
      <option *ngFor="let currency of rates | keyvalue" [value]="currency.key">
        {{ currency.key }}
      </option>
    </select>
  </div>
  <div class="currency__price">
    <input
      type="number"
      [(ngModel)]="amount2"
      (ngModelChange)="handleAmount2Change($event)"
    />
    <select
      [(ngModel)]="currency2"
      (ngModelChange)="handleCurrency2Change($event)"
    >
      <option *ngFor="let currency of rates | keyvalue" [value]="currency.key">
        {{ currency.key }}
      </option>
    </select>
  </div>
</div>
